body {
    background-image: url('background.png');
    background-size: cover;
    background-attachment: fixed; 
    background-position: center center;
    transition: background-image 0.5s ease;
    position: relative;
    z-index: 1;
    height: 100vh;
}

body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    animation: slowZoom 60s infinite alternate linear;
    transform: scale(1.1);
    z-index: -1; 
}

.title h1 {
    color: #ffffff; 
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
}

.main-center-wrapper {
    position: relative;
    z-index: 2; 
}

.main-center-wrapper {
    height: 75vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title h1 {
    font-size: 5em;
    font-family: 'Space Mono', sans-serif;
    font-weight: 750;
    color: #CBCBCB;
    margin-bottom: 20px;
    text-align: center;
}

.title h2
{
    font-size: 5em;
    font-family: 'Space Mono', sans-serif;
    font-weight: 750;
    color: #CBCBCB;
    margin-bottom: 20px;
    text-align: center;
}

.title h3
{
    font-size: 2em;
    font-family: 'Space Mono', sans-serif;
    font-weight: 750;
    color: #CBCBCB;
    margin-bottom: 20px;
    text-align: center; 
}

.large-textbox {
    background-color: #CBCBCB;
    width: 600px; 
    height: 10px;
    font-size: 20px;
    padding: 15px;
    border-radius: 8px;
    border: 2px solid #CBCBCB;
    transition: border-color 0.3s, box-shadow 0.3s;
}

.large-textbox:focus {
    border-color: #777C6D;
    box-shadow: 0 0 10px rgba(92, 124, 250, 0.5);
    outline: none;
}

.hidden {
    display: none !important;
}

.center-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 20px;
}

.back-arrow {
    position: fixed;
    top: 30px;
    left: 30px;
    background: none;
    border: none;
    color: #CBCBCB;
    font-size: 50px;
    line-height: 1;
    cursor: pointer;
    z-index: 1000;
    padding: 0;
    transition: color 0.3s ease;
}

.back-arrow:hover {
    color: #ffffff;
    background: none;
}

button {
    padding: 12px 30px;
    font-size: 18px;
    cursor: pointer;
    background-color: #777C6D;
    color: white;
    border: none;
    border-radius: 8px;
    font-family: 'Inter', sans-serif;
    transition: background-color 0.3s;

}

button:hover {
    background-color: #B7B89F;
}