body{
    background: #8BAFD0;
    background: linear-gradient(90deg, rgba(139, 175, 208, 1) 0%, rgba(118, 161, 178, 1) 50%, rgba(80, 107, 155, 1) 100%);

    font-family: 'Inter', sans-serif;
}
.main-center-wrapper {
    height: 75vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title h1 {
    font-size: 5em;
    font-family: 'Space Mono', sans-serif;
    font-weight: 750;
    color: #34495e;
    margin-bottom: 20px;
    text-align: center;
}

.large-textbox {
    width: 600px; 
    height: 60px;
    font-size: 20px;
    padding: 15px;
    border-radius: 8px;
    border: 2px solid #2f456f;
    transition: border-color 0.3s, box-shadow 0.3s;
}

.large-textbox:focus {
    border-color: #34495e;
    box-shadow: 0 0 10px rgba(92, 124, 250, 0.5);
    outline: none;
}

.hidden {
    display: none !important;
}

.center-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 20px;
}

button {
    padding: 12px 30px;
    font-size: 18px;
    cursor: pointer;
    background-color: #34495e;
    color: white;
    border: none;
    border-radius: 8px;
    font-family: 'Inter', sans-serif;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #2c3e50;
}
